@model IEnumerable<PrjPortfolio.Models.Person_SocialMedia>

<div class="col-md-12"><h5>Rede Sociais</h5></div>
<div class="col-md-12">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-success m-2" data-toggle="modal" data-target="#socialMedia">
        <i class="fas fa-plus-circle"></i>
    </button>
</div>
@foreach (var socialMedia in Model)
{

    var imgSrc = "/Images/" + Enum.GetName(typeof(SocialMedia), socialMedia.SocialMedia).ToLower() + ".png";

    <div class="col-md-3 text-center">
        <a class="nav-link" target="_blank" href="@socialMedia.AccessLink"><img class="img-fluid" src="@imgSrc" width="30" height="30" /></a>
    </div>
    <div class="col-md-9">
        <h5 class="vertical-center">@socialMedia.UserName</h5>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="socialMedia" tabindex="-1" role="dialog" aria-labelledby="socialMediaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="socialMediaLabel">Rede Social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="btn-group btn-group-toggle col-12" data-toggle="buttons">
                        <label class="btn btn-outline-primary" id="GitHub" onclick="SetSocialMedia(id)">
                            <input type="radio" name="options" autocomplete="off"><i class="fab fa-github"></i>
                        </label>
                        <label class="btn btn-outline-primary" id="Linkedin" onclick="SetSocialMedia(id)">
                            <input type="radio" name="options" autocomplete="off"><i class="fab fa-linkedin"></i>
                        </label>
                        <label class="btn btn-outline-primary" id="Twitter" onclick="SetSocialMedia(id)">
                            <input type="radio" name="options" autocomplete="off"><i class="fab fa-twitter"></i>
                        </label>
                    </div>
                    <div class="col-12">
                        <label for="UserName" class="col-form-label">Usuario:</label>
                        <input type="text" class="form-control" id="UserName">
                    </div>
                    <div class="col-12">
                        <label for="AccessLink" class="col-form-label">Link de Acesso ao Perfil:</label>
                        <input type="text" class="form-control" id="AccessLink">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="SaveSocialMedia()">Savar Alterações</button>
            </div>
        </div>
    </div>
</div>



