@model PrjPortfolio.Models.Portfolio

@{
    ViewData["Title"] = "Criação";
}

<div class="container">
    <div class="row">
        <h1 class="col-12">Criar</h1>

        <a class="col-12 text-muted" asp-area="" asp-controller="Portfolios" asp-action="Index"><h3>Seu Portfólio</h3></a>
        <hr class="col-12" />
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Person.Name" class="control-label"></label>
                    <input asp-for="Person.Name" class="form-control" />
                    <span asp-validation-for="Person.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.FullName" class="control-label"></label>
                    <input asp-for="Person.FullName" class="form-control" />
                    <span asp-validation-for="Person.FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
