@model IEnumerable<PrjPortfolio.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Portfolios" asp-action="Index">Seu Portfólio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container pt-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 text-center">
                <img class="bd-placeholder-img rounded-circle img-thumbnail" width="140" height="140" src="~/Images/no-picture-taking.png" role="img" alt="Sem Foto" />
                <h2>@Html.DisplayFor(modelItem => item.Person.Name)</h2>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p><a class="btn btn-secondary" role="button" asp-action="Details" asp-route-id="@item.ID">Detalhes</a></p>

            </div>
        }
    </div>
</div>
